body {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input {
    border: none;
    font: none;
    font-family: inherit;
}

button {
    border: none;
}

a {
    color: #000000;
    text-decoration: none;
}

ul, li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}