body {
    padding-bottom: 45px;
}

.block-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px;
    color: #000000;
}

.content-title {
    font: 16px OpenSans-Bold;
    text-transform: uppercase;
}

.tags {
    display: flex;
    font: 14px OpenSans-Bold;
    text-transform: uppercase;
    color: #b59f5b;
}

.tag:nth-child(1n+2) {
    margin-left: 20px;
}

.date {
    font: 12px OpenSans-Regular;
    color: #888888;
}

.author-name {
    font: 12px OpenSans-Bold;
    color: #000000;
    margin-left: 15px;
}

.content-text {
    font: 14px OpenSans-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.separator {
    width: 330px;
    height: 4px;
    background-color: #eeeeee;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.placeholder {
    font: 13px OpenSans-Regular;
    color: #888888;
}

.btn {
    width: 330px;
    height: 50px;
    margin-top: 16px;
    font: 14px OpenSans-Bold;
    text-align: center;
    text-transform: uppercase;
    background: #b59f5b;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #a89555;
}