@media(min-width: 550px) {
    .header-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 125px;
        background: 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
        center / contain no-repeat, 
        url(./../../images/banner-bg-tablet.jpg)
        center / cover no-repeat;
    }
    
    .menu {
        display: flex;
        justify-content: end;
        align-self: center;
        width: 50%;
        margin-right: 0;
        padding-right: 20px;
        order: 1;
        box-sizing: border-box;
    }
    
    .super-title {
        display: flex;
        justify-content: start;
        width: 50%;
        margin-top: 0;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .logo-svg {
        width: 170px;
        height: 40px;
    }

    .site-title {
        width: 70%;
        text-align: center;
        order: 3;
        margin-top: 85px;
        font-size: 42px;
        line-height: normal;
    }
}