@media(min-width: 1300px) {
    .header-wrapper {
        background: 
            linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
            center / contain no-repeat, 
            url(./../../images/banner-bg.jpg)
            center / cover no-repeat;
        justify-content: space-between;
        padding-left: 14%;
        padding-right: 14%;
        box-sizing: border-box;
    }

    .menu {
        /* display: none; */
    }

    .menu-svg {
        display: none;
    }

    .full-menu {
        display: flex;
        order: 1;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 80%;
        font: 13px OpenSans-Bold;
        text-transform: uppercase;
        color: #ffffff;
    }

    .header-logo {
        padding-left: 15px;
    }

    .site-title {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 46px;
    }
}

@media(min-width: 1450px) {
    .site-title {
        width: 60%;
    }
}