.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
        center / contain no-repeat, 
        url(./../../images/banner-mobile.jpg)
        center / cover no-repeat;
    padding-top: 30px;
    padding-bottom: 220px;
}

.menu {
    align-self: flex-end;
    margin-right: 16px;
    fill: #ffffff;
}

.full-menu {
    display: none;
}

.header-logo {
    align-self: center;
    margin-top: 165px;
}

.site-title {
    align-self: center;
    width: 280px;
    margin-top: 40px;
    font-family: OpenSans-Bold;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}