@media(min-width: 768px) {
    /* .products {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    } */

    .products-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .product-items-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}