.main-content_wrapper {
    margin-top: 40px;
}

.main-content_post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content_post:nth-child(1n+2) {
    margin-top: 35px;
}

.main-content_post-image{
    width: 330px;
}

.main-content_post-content {
    width: 330px;
    margin-top: 15px;
}